<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h4 class="card-title text-center">Login</h4>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f| %>
            <div class="form-label-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
              <%= f.label :email %>
            </div>

            <div class="form-label-group">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
              <%= f.label :password %>
            </div>

            <div class="custom-control custom-checkbox mb-3", style="margin-left:10px">
              <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me, class: 'custom-control-input' %>
                <%= f.label :remember_me, class: 'custom-control-label' %>
              <% end -%>
            </div>

            <%= f.submit "Log in", class: 'btn btn-primary' %>
            <hr class="my-4">
            <div style="margin-left:10px; margin-top:20px"><%= render "devise/shared/links" %></div>
          <% end %>


        </div>
      </div>
    </div>
  </div>
</div>