<script type="text/javascript">
$(function() {
    $(".chosen-select").chosen({
      allow_single_deselect: true,
      no_results_text: 'No results matched',
      width: '250px',
      });
    $("#deadlineCheck").change(function() {
      if(this.checked !=true) {
        $("#deadlinePicker").hide();
        $("#alldayGroup").hide();
      } else {
        $("#deadlinePicker").show();
        $("#alldayGroup").show();
      }
    });
    $("#deadlineCheck").ready(function() {
      if(<%= @todo.tdeadline.nil? and @todo.ddeadline.nil? %>) {
        $("#deadlinePicker").hide();
        $("#alldayGroup").hide();
        $("#deadlineCheck").prop('checked', false);
      } else {
        $("#deadlinePicker").show();
        $("#alldayGroup").show();
        $("#deadlineCheck").prop('checked', true);
      }
    });
    $("#alldayCheck").change(function() {
      if(this.checked !=true) {
        $("#timePicker").show();
      } else {
        $("#timePicker").hide();
      }
    });
    $("#alldayCheck").ready(function() {
      if(<%= @todo.tdeadline.nil?%>) {
        $("#timePicker").hide();
        $("#alldayCheck").prop('checked', true);
      } else {
        $("#timePicker").show();
        $("#alldayCheck").prop('checked', false);
      }
    });
});
</script>
<%# model: @object takes in an object that has been passed in and fills up the fields with its values %>
<%= form_with(model: @todo, local: true) do |form| %>
  <%# %>
  <div class = "form-group<%= ' has-error' if @todo.errors.has_key?(:item) %> ">
    <%= form.label :item, class: "control-label" %>
    <%= form.text_field :item, class: "form-control", placeholder: "What needs to be done?" %>
    <% @todo.errors.full_messages_for(:item).each do |message| %>
      <p style="font-size:13px;color:red;margin-left:13px;">*<%= message %></p>
    <% end %>
  </div>

  <div class = "form-group">
    <%= form.label :details %>
    <%= form.text_area :details, { class: "form-control", style: "resize:none;" } %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-6">
      <%= form.label "Deadline" %>
        <input class="form-check-input" style="right:16px;" type="checkbox" value="" id="deadlineCheck">
      </div>
      <div class="col-6" id="alldayGroup" style="display:none;">
        <%= form.label "All day", class:"control-label" %>
        <input class="form-check-input" style="right:16px;" type="checkbox" value="" id="alldayCheck">
      </div>
    </div>
    <div class="row form-group" style="display:none;" id="deadlinePicker">
      <div class="col">
        <%= form.date_field :ddeadline, class: "form-control" %>
      </div>
      <div class="col">
        <div id="timePicker" style="display:none">
          <%= form.time_field :tdeadline, class: "form-control"%>
        </div>
      </div>
    </div>
  </div>

  <div class = "form-group">
    <%#= link_to  "New Tag", model %>
    <%= form.label :tags %>
    <br>
    <%= form.select :tag_ids, Tag.all.map { |t| [t.name, t.id] }, { include_blank: true }, { multiple: true, class: "chosen-select", data: { placeholder: "Choose from existing tags"} } %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=#tagModal>Add new tag</button>
    <%# select (name) (id) (options) - name has already been declared as the scope of the form helper, options is an collection of array of name and id/number of each option%>
    <%# collect method invokes a block of code for each element of self. In this case, for each item 't' create an array of its name and id, exactly the same as the map function%>
  </div>

  <hr class="my-4">
  <div class="row form-group">
    <div class="col-6">
      <%= button_to 'Cancel', cancel_url, class: 'btn btn-secondary' %>
    </div>
    <div class="col-6">
      <%= form.submit 'Save', { class: 'btn btn-primary', style: "position:absolute;right:0px;" } %>
    </div>
  </div>
<% end %>

<div class="modal" id="tagModal" tabindex="-1" role="dialog">
  <%= render partial:"tags/tag_form" %>
</div>

